.cart_page_header {
    align-items: center;
    display: flex;
    gap: 17px;
    margin-top: 26px;
}
.cart_page_counter {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.8px;
}
.cart_page_clear {
    align-items: center;
    background-color: #ffffff1a;
    border: 1px solid hsla(0, 0%, 100%, .102);
    border-radius: 8px;
    display: flex;
    font-size: 14px;
    gap: 10px;
    padding: 3px 16px;
}
.cart_page_list {
    margin-top: 24px;
}
.product_card {
    padding-bottom: 1.5rem;
    justify-content: space-between;
}
@media (max-width: 1280px) {
    .product_card {
        flex-direction: column !important;
    }
}
@media (max-width: 1280px) {
    .product_card, .product_card_main {
        gap: 12px;
    }
}
.product_card, .product_card_main {
    gap: 32px;
}
.product_card_main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
@media (max-width: 1280px) {
    .product_card .product_card_main_cover {
        height: 120px;
        width: 80px;
    }
}
.product_card_main_cover {
    border-radius: .5rem;
    cursor: pointer;
    height: 120px;
    width: 80px;
}
.product_card_main_header {
    margin-left: 16px;
    width: 300px;
    gap: 16px;
    justify-content: space-between;
}
@media (max-width: 1280px) {
    .product_card, .product_card_main_header_title {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 1280px) {
    .product_card_main_header_title {
        margin-bottom: 10px;
        margin-right: 0;
        width: auto;
    }
}
@media (max-width: 1280px) {
    .product_card, .product_card_main_header_row {
        font-size: 12px;
        line-height: 16px;
    }
}
.product_card_main_header_row {
    color: #fffc;
    font-size: 14px;
    font-weight: 500;
    text-align: initial;
}
.product_card_main_header_row span + span {
    color: #fff;
}
.product_action {
    margin-top: 24px;
    display: flex;
    gap: .5rem;
}
.delete_button {
    align-items: center;
    transition: background-color 200ms ease-in-out;
    border: 1px solid hsla(0, 0%, 100%, .102);
    border-radius: .5rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    padding: .5rem;
    width: 2.5rem;
}
.delete_button:hover {
    background-color: #ffffff1a;
}
.product_card_payment {
    min-width: auto;
    min-width: 227px;
}
@media (max-width: 1440px) {
    .cart_page_sidebar {
        max-width: 302px;
    }
}
.cart_page_sidebar {
    flex-shrink: 0;
    max-width: 372px;
    padding-top: 25px;
    width: 100%;
}
.payment_details {
    background-color: #ffffff0d;
    border-radius: 16px;
    padding: 24px;
}
.payment_details_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.payment_details_title {
    font-size: 24px;
    font-weight: 700;
}
@media (max-width: 1280px) {
    .wrapper_page_list {
        display: block !important;
    }
    .cart_page_sidebar {
        max-width: 1566px;
    }
    .product_card_payment {
        max-width: 372px;
    }
}
@media (max-width: 800px) {
    .product_card_main {
        display: grid;
    }
    .payment_details_form {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}
.cart_page_empty {
    padding: 100px 0;
    text-align: center;
}
.cart_page_empty_smile {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cart_page_empty_text {
    font-size: 24px;
    font-weight: 700;
}
.cart_page_empty_text {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}
.cart_page_empty_link {
    color: white;
    opacity: .3;
}
