* {
    margin: 0;
    padding: 0;
    border-box: border-box;
}
body {
    font-family: Geometria, Inter, Avenir, Helvetica, Arial, sans-serif;
    background: #14151b;
}
body::-webkit-scrollbar {
    display: none;
}
а, p, div {
    text-decoration: none !important;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    background-color: transparent;
    border-style: none;
}
.rfm-marquee .rfm-initial-child-container .rfm-child {
    height: 52px !important;
}
