.cart {
    width: 240px;
    height: 360px;
}
.wrapper_description {
    width: 240px;
    height: auto !important;
}
@media (max-width: 767px) {
    .cart, .wrapper_description {
        height: 300px;
        width: 200px;
    }
}
@media (max-width: 1280px) {
    .cart, .wrapper_description {
        height: 244px;
        width: 174px;
    }
}
@media (max-width: 1550px) {
    .cart, .wrapper_description {
        height: 294px;
        width: 196px;
    }
}
.wrapper_swiper {
    margin-top: 50px;
}
@media (max-width: 1281px) {
    .wrapper_swiper {
        max-width: 1216px;
    }
}
@media (max-width: 1239px) {
    .wrapper_swiper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.product_price {
    font-family: Geometria, Inter, Avenir, Helvetica, Arial, sans-serif;
    align-items: flex-end;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    display: flex;
    height: 1.5rem;
    margin-top: 1rem;
}
.prices_discount {
    height: 14px;
    user-select: none;
    background-color: #00ff9340;
    border-radius: 29px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: .25rem;
    --tw-text-opacity: 1;
    color: rgb(0 255 147 / var(--tw-text-opacity));
}
@media (max-width: 1280px) {
    .product_card_prices {
        margin-top: .5rem;
    }
}
@media (max-width: 1280px) {
    .product_card_prices {
        margin-top: .5rem;
    }
}
@media (max-width: 1280px) {
    .prices {
        -moz-column-gap: .125rem;
        column-gap: .125rem;
    }
}
@media (max-width: 1550px) {
    .prices {
        -moz-column-gap: .25rem;
        column-gap: .25rem;
        height: 1.25rem;
    }
}
.product_price {
    align-items: center;
    height: 100%;
    padding-bottom: .125rem;
    padding-top: .375rem;
}
@media (max-width: 1280px) {
    .product_price {
        margin-top: .5rem;
    }
}
@media (max-width: 1280px) {
    .product_price {
        margin-top: .5rem;
    }
}
@media (max-width: 767px) {
    .prices {
        height: 18px;
    }
}
@media (max-width: 1280px) {
    .prices {
        -moz-column-gap: .125rem;
        column-gap: .125rem;
    }
}
@media (max-width: 1550px) {
    .prices {
        -moz-column-gap: .25rem;
        column-gap: .25rem;
        height: 1.25rem;
    }
}
.prices_price {
    font-family: Geometria, Inter, Avenir, Helvetica, Arial, sans-serif;
    color: white;
    user-select: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}
@media (max-width: 1550px) {
    .prices_price {
        font-size: 20px;
    }
}
@media (max-width: 1280px) {
    .prices_price {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .prices_price {
        font-size: 16px;
    }
}
.prices_currency_price {
    color: white;
    user-select: none;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    opacity: .7;
}
.product_card_name {
    color: white;
    user-select: none;
    display: flex;
    align-content: start;
    text-align: start;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 29px;
    margin-top: .5rem;
    min-height: 29px;
}
@media (max-width: 1550px) {
    .product_card_name {
        font-size: 20px;
        line-height: 24px;
        min-height: 24px;
    }
}
.product_card_sub_name {
    user-select: none;
    display: flex;
    text-align: start;
    align-content: start;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: .25rem;
    opacity: .5;
}
.product_logo {
    height: 20px !important;
    width: 20px !important;
}
.product_card_tag_top {
    top: 8px;
    display: flex;
    height: 32px;
    left: 8px;
    width: 100%;
}
.product_card_tag {
    align-items: center;
    background: #ffffff40;
    border-radius: 30px;
    box-shadow: 0 0 8px #0000004d;
    display: flex;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    letter-spacing: -.48px;
    line-height: 1.5rem;
    margin: 8px 8px;
    width: 32px;
}
.mixing_cart {
    height: 360px;
    z-index: 3;
    position: absolute;
}
@media (max-width: 767px) {
    .mixing_cart {
        height: 300px;
        width: 200px;
    }
}
@media (max-width: 1280px) {
    .mixing_cart {
        height: 244px;
        width: 174px;
    }
}
@media (max-width: 1550px) {
    .mixing_cart {
        height: 294px;
        width: 196px;
    }
}
.product_card_tags_bottom {
    left: 8px;
    display: flex;
    position: absolute;
    height: 32px;
    bottom: 8px;
    width: 100%;
}
.product_card_tag_bottom {
    align-items: center;
    background: #20202099;
    border-radius: 32px;
    color: #fff;
    display: flex;
    font-family: Geometria, sans-serif;
    font-size: 1rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    letter-spacing: -.48px;
    line-height: 1.5rem;

    padding-right: 8px;
    z-index: 10;
}
.product_description_logo {
    height: 32px !important;
    width: 32px !important;
}
.card_list_link {
    position: absolute;
}
.card_list_title {
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    gap: 1rem;
    letter-spacing: -.025em;
    line-height: 36px;
    margin-bottom: 2rem;
    margin-right: .75rem;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (max-width: 767px) {
    .card_list_title {
        font-size: 24px;
        margin-bottom: 24px;
    }
}
@media (max-width: 1550px) {
    .card_list_title {
        margin-bottom: 1.25rem;
    }
}
.card-list__title-wrapper {
    padding-right: 35px;
    position: relative;
}
